<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>  
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name = "android.permission.GET_TASKS"/>
    
     <uses-permission android:name="android.permission.GET_ACCOUNTS" />  
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />  
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />  
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />  
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />  
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />  
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />  
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />  
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />  
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />  
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name">
        
        <activity
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:name="com.project.activity.LoginActivity" 
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        
       
        </activity>
       
       <activity
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:name="com.project.activity.DesktopActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        
        <activity android:name=".communicate.ChatActivity" android:theme="@android:style/Theme.NoTitleBar" 
         android:windowSoftInputMode="adjustPan" 
         android:screenOrientation="portrait"/>
        
         <activity android:name=".communicate.NewFriendsMsgActivity" android:theme="@android:style/Theme.NoTitleBar" 
         android:windowSoftInputMode="adjustPan" 
         android:screenOrientation="portrait"/>
        
        <activity android:name=".communicate.AddContactActivity" android:theme="@android:style/Theme.NoTitleBar" 
         android:windowSoftInputMode="adjustPan" 
         android:screenOrientation="portrait"/>
        
        <activity android:name="com.project.activity.RegisterActivity" android:theme="@android:style/Theme.NoTitleBar" 
         android:windowSoftInputMode="adjustPan" 
         android:screenOrientation="portrait"/>
        
        <activity android:name="com.project.activity.LocationActivity" android:theme="@android:style/Theme.NoTitleBar" 
         android:windowSoftInputMode="adjustPan" 
         android:screenOrientation="portrait"/>
        
        <activity android:name="com.project.schoolservice.BookDetailActivity" android:theme="@android:style/Theme.NoTitleBar" 
         android:windowSoftInputMode="adjustPan" 
         android:screenOrientation="portrait"/>
        
        <activity android:name="com.project.schoolservice.BookRemindActivity" android:theme="@android:style/Theme.NoTitleBar" 
         android:windowSoftInputMode="adjustPan" 
         android:screenOrientation="portrait"/>
        
        <activity android:name="com.project.schoolservice.BookeepActivity" android:theme="@android:style/Theme.NoTitleBar" 
         android:windowSoftInputMode="adjustPan" 
         android:screenOrientation="portrait"/>
           
         <activity android:name="com.project.maps.WriteBottleActivity" android:theme="@android:style/Theme.NoTitleBar" 
         android:windowSoftInputMode="adjustPan" 
         android:screenOrientation="portrait"/>
     
     	 <activity android:name="com.project.maps.BottleActivity" android:theme="@android:style/Theme.NoTitleBar" 
         android:windowSoftInputMode="adjustPan" 
         android:screenOrientation="portrait"/>
     	 
     	 <activity android:name="com.project.sendfromposition.PLaceListActivity" android:theme="@android:style/Theme.NoTitleBar" 
         android:windowSoftInputMode="adjustPan" 
         android:screenOrientation="portrait"/>
     	 
     	 <activity android:name="com.project.sendfromposition.WritePlaceActivity" android:theme="@android:style/Theme.NoTitleBar" 
         android:windowSoftInputMode="adjustPan" 
         android:screenOrientation="portrait"/>
           
        <!-- 开机自启动服务 -->
        
        <receiver android:name="com.easemob.chat.StartServiceReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        
        
        <!-- 设置环信应用的appkey -->
        
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="c327393059#nodistance" />
        
        <meta-data  
	        android:name="com.baidu.lbsapi.API_KEY"  
	        android:value="OmbHLP0t01DYFq8PCVtKyEGc" />  
       
        
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService" />
        
        
<!--          ChatDemoUI  使用友盟统计来收集crash report。这个不是环信sdk 的一部分 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53912a3156240b01a7075ed1" >
        </meta-data>
<!--          end of 友盟声明 -->
    
   		<service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        
   		
   	<receiver android:name="com.project.schoolservice.MyReceiver" android:process=":remote" /> 
    
    </application>
    
      <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />
    
</manifest>